 @charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

a{
	color: #ccd500;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #a9b119;
}
.clear {
    clear: both;
}
html {
    position: relative;
    min-height: 100%;
}
body {
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: black;
}
b{
	font-weight: 600;
}

.facabook {
  color: blue;
}


/* Titulos
-------------------------------------------------------------------------*/
h1{
	width: 100%;
	color: #000000;
	font-size: 40px;
	margin-bottom: 25px;
}
h2{
	color: #000000;
    display: table-cell;
    float: left;
    font-size: 45px;
    line-height: 40px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
    font-weight: 300;
}
h2 span{
	font-weight: 400;
}
h3{
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	color: white;
	font-size:40px;
	font-family: 'Lato', 'sans-serif';
	font-weight: 300;
}
h4{
	color: #ffffff;
    display: table-cell;
    float: left;
    font-size: 35px;
    line-height: 31px;
    margin: 0 0 0;
    text-align: center;
    width: 100%;
    font-weight: 400;
}

p.title{
	color: #000000;
    display: table-cell;
    float: left;
    font-size: 45px;
    line-height: 40px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
    font-weight: 300;
}

.grey {	color:#444;}

/* INICIO
-------------------------------------------------------------------------*/
#header{
	margin: 0 auto 0;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 0px;
	background-color: #6C5726;
	overflow: hidden;
	position: relative;
	padding: 50px 0px;
    border-top: 10px solid #A48E4E;
    border-bottom: 10px solid #A48E4E;
}
#header table, #footer table{
	height: 100%;
	width: 100%;
}
#header table td, #footer table td{
	vertical-align: middle;
}
#header .content{
	color: #FFFFFF;
    float: left;
    font-size: 50px;
    font-weight: 300;
    line-height: 42px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
#header .content, #footer .content{
	font-family: 'Pathway Gothic One';
	color: #ffffff;
    float: left;
    font-size: 70px;
    font-weight: 300;
    line-height: 80px;
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    padding: 30px 0px;
}
#header .content > div, #footer .content > div{
	display: inline-block;
}

#footer{
	width:100%;
	background-color: #6C5726;
	border-top: 20px dotted #A48E4E;
	height: 200px;
}


.line{
	background-color: #DCD293;
	padding: 50px 0px 25px 0px;
	width:100%;
	border-top: 20px dotted #A48E4E;
}



.machineContainer{
	background-color: #000;
	padding: 5px 1px 5px 1px;
	overflow: hidden;
	height: 135px;
}
.slotMachine{
	width: 32.333333%;
	border: 5px solid #000;
	height: 100px;
	padding: 0px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	/*margin: 0px 5px;*/
	/*border: 5px solid #000;*/
	background-color: #ffffff;
}
.machineResult{
	color:#fff;
	text-align:center;
	font-weight: 900;
}
.noBorder{
	border:none !important;
	background: transparent !important;
}
.slotMachine .slot{
	height:100px;
	background-position-x: 55%;
	background-repeat: no-repeat;
}
.subj1{
	background-image: url("../img/subj1.jpg");
}
.subj2{
	background-image: url("../img/subj2.jpg");
}
.subj3{
	background-image: url("../img/subj3.jpg");
}
.subj4{
	background-image: url("../img/subj4.jpg");
}
.subj5{
	background-image: url("../img/subj5.jpg");
}
.subj6{
	background-image: url("../img/subj6.jpg");
}



.adj1{
  background-image: url("../img/cboard2-2.jpg");
}
.adj2{
  background-image: url("../img/cboardadj2.jpg");
}
.adj3{
  background-image: url("../img/cboardadj3.jpg");
}
.adj4{
  background-image: url("../img/cboardadj4.jpg");
}
.adj5{
  background-image: url("../img/cboardadj5.jpg");
}
.adj6{
  background-image: url("../img/cboardadj6.jpg");
}



.obj1{
  background-image: url("../img/obj1.jpg");
}
.obj2{
  background-image: url("../img/obj2.jpg");
}
.obj3{
  background-image: url("../img/obj3.jpg");
}
.obj4{
  background-image: url("../img/obj4.jpg");
}
.obj5{
  background-image: url("../img/obj5.jpg");
}
.obj6{
  background-image: url("../img/obj6.jpg");
}
.obj7{
  background-image: url("../img/obj7.jpg");
}
.obj8{
  background-image: url("../img/obj8.jpg");
}
.obj9{
  background-image: url("../img/obj9.jpg");
}
.obj10{
  background-image: url("../img/obj10.jpg");
}
.obj11{
  background-image: url("../img/obj11.jpg");
}
.obj12{
  background-image: url("../img/obj12.jpg");
}
.obj13{
  background-image: url("../img/obj13.jpg");
}
.obj14{
  background-image: url("../img/obj14.jpg");
}
.obj15{
  background-image: url("../img/obj15.jpg");
}
.obj16{
  background-image: url("../img/obj16.jpg");
}
.obj17{
  background-image: url("../img/obj17.jpg");
}
.obj18{
  background-image: url("../img/obj18.jpg");
}
.obj19{
  background-image: url("../img/obj19.jpg");
}
.obj20{
  background-image: url("../img/obj20.jpg");
}
.obj21{
  background-image: url("../img/obj21.jpg");
}
.obj22{
  background-image: url("../img/obj22.jpg");
}
.obj23{
  background-image: url("../img/obj23.jpg");
}
.obj24{
  background-image: url("../img/obj24.jpg");
}
.obj25{
  background-image: url("../img/obj25.jpg");
}















#textMachine, #textMachine2{
	width:520px;
	height: 67px;
	overflow: hidden;
	display: inline-block;
	text-align: left;
}
#textMachine > *, #textMachine2 > *{
	padding: 0px 0px;
}




.slotMachineButton{
	width:100px;
	height: 100px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}
.slotMachineButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	border-radius: 75px;
	text-indent:0px;
	border:6px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-size:40px;
	font-weight:bold;
	font-style:normal;
	height:100px;
	line-height:90px;
	margin-top:10px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
	cursor:pointer;
}
.slotMachineButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.slotMachineButton:active {
	position:relative;
	top:1px;
}


